<app-header></app-header>

<div class="container mt-1">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Data de Início</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Início</td>
      <td>22/10</td>
      <td>Concluído</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Meio</td>
      <td>24/10</td>
      <td>Concluído</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Fim</td>
      <td>Pendente</td>
    </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>
